
<%= render 'form'%>

<div class="messages">
	<h3>Public Timeline:</h3>
	<ul>
	<% @messages.reverse.each do |message| %>
		<li class="message">
      	<%= link_to %{
        	<div class='message_body'>#{message.body}</div>
        	<div class="count left">#{pluralize(message.replies.size, 'reply')}</div>
        	<div class="timestamp right">#{time_ago_in_words(message.created_at)}</div>
        	<div class="clear">&nbsp;</div>
      	}.html_safe, message %>
    	</li>
	<% end %>
	</ul>
</div>

