<div class="weibo">

<%= render 'form'%>

<div class="messages">
	<h3>Public Timeline:</h3>
	<ul>
	<% @messages.reverse.each do |message| %>
		<li class="message">
			<div class="message_body"><%=link_to message.body, message %></div>
			<div class="count left"><%=pluralize(message.replies(true).size, "reply")%></div>
			<div class="timestamp right">Posted <%=time_ago_in_words(message.updated_at)%> ago</div>
            <div class="clear">&nbsp;</div>
        </li>
	<% end %>
	</ul>
</div>

</div>
